/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Providers/AppServiceProvider.php
resources/sass/dashboard.scss
public/css/app.css
public/images/BDoctors-txt-v2.svg
public/images/pexels-photo-1919236-2.jpeg
public/images/uomo-che-messaggia.jpg
public/js/admin.js
public/js/front.js
public/js/popper.js
