p,h1,h2,h3,h4,h5,h6,span,em,strong,b {
    word-wrap: break-word;
}
#left-bar-admin {
    .media-hide {
        display: inline-block;
    }
    .media-show {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    #left-bar-admin {
        max-width: 60px;
        .media-hide {
            display: none;
        }
        .media-show {
            display: inline-block;
            font-size: 0.5rem;
        }
        #svg-container {
            display: flex;
           padding: 0 !important;
            width: 100%;
            justify-content: center;
        }
        .nav-item {
            justify-content: center;
            display: flex;
        }
    }
}
