.container-show {
    background-color: #fff;
    height: calc(100vh - 80px);
    width: 100%;
    border-radius: 15px;
    .show-title {
        background-color: #4263d0;
        height: 70px;
        border-radius: 15px;
        .edit-icon {
            background-color: #718bdd;
            border-radius: 10px;
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
        } 
    }
    .row {
        .col-2{
            img {
                width: 220px;
                height: 220px;
            }
        }
    }
    .row.mt-pers {
        margin-top: 4.5em;
        .col {
            .row {
                .col {
                    .edit-icon {
                        background-color: #718bdd;
                        border-radius: 10px;
                        top: 0;
                        right: 0;
                        width: 30px;
                        height: 30px;
                    } 
                }
            }
        }
    }
    .row {
        .col {
            h4 {
                font-size: 1.4em;
                .icon-opt {
                    color: #738DE5;
                    font-size: 1.4em;
                }
            }
        }
    }
    .row {
        .col-12 {
            .service {
                background-color: #F6F5F8;
                border: 2px solid #3C4996;
                border-radius: 24px;
                max-width: 250px;
                // height: 150px;
                .service-title {
                    background-color: #3C4996;
                    border-radius: 19px;
                    padding: 0.5em;
                    // width: 206px;
                    // height: 30px;
                }
                .service-desc {
                    width: 210px;
                    height: calc(150px - 30px);
                }
            }
        }
        .col {
            .container-cv {
                background-color: #fff;
                border-radius: 28px;
                border: 5px solid #3C4996;
                width: 500px;
                // height: 150px;
                .content-cv {
                    height: 310px;
                    embed {
                        border-radius: 21px 21px 0 0;
                    }
                }
                .title-cv {
                    background-color: #3C4996;
                    height: 70px;
                    border-radius: 0 0 19px 19px;
                }
            }
        }
        
    }
}
.rounded-photo{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

@media only screen and (max-width: 1400px) {
    .main-vh-overflow {
        background-color: #fff;
        .m-d {
            text-align: center;
            margin-right: 0!important;
            .col-12 {
                justify-content: center;
            }
        }
    }
    
    .m-1400-row {
        display: flex;
        flex-direction: column;
    }
    .m-1400 {
        width: 100%;
        padding-bottom: 3em;
        padding-left: 2em;
    }
    // .m-d {
    //     display: none;
    // }

    @media only screen and (max-width: 900px) {

        .m-900-row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
