main {
    display: flex;
}

.side-sizes {
    width: 280px;
    height: 100vh;
    min-height: 798px;
}

.lh-5 {
    line-height: 5em;
}

.nav-link:hover {
    background-color: #8a95d5;
    color: #FFFFFF;
}

.bg-side {
    background-color: #4263d0;
}

.fs-side {
    font-size: small;
}

.radious {
    border-radius: 15px;
}

.main-vh {
    // height: 100vh;
    background-color: #f6f5f8;
   
}



