main {
    display: flex;
}

.side-sizes {
    width: 280px;
    height: 680px;
}

.lh-5 {
    line-height: 4em;
}

.nav-link:hover {
    background-color: #8a95d5;
    color: #FFFFFF;
}

.bg-side {
    background-color: #4263d0;
}

.fs-side {
    font-size: small;
}

.radious {
    border-radius: 15px;
}

.main-vh {
    height: 100vh;
    background-color: #f6f5f8;
   
}

.bg-ul {
    background-color: #4263d0;
    border-radius: 0px 0px 15px 15px;
    max-height: 600px;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 640px) { 

    .m-display{
        display: none;
    }

    .side-sizes {
        width: 100px;
        height: 680px;
    }
    .m-w-li{
        width: 100px;
        font-size: large;
        text-align: center;
    }

    .m-d-name {
        display: none;
    }

    .display-none {
        display: block;
        width: 70px;
    }
    .active-logo{
        display: none;
    }
}


