main {
    height: calc(100vh - 56px);
    display: flex;
}

.side-sizes {
    width: 280px;
}

.lh-5 {
    line-height: 5em;
}

.nav-link:hover {
    background-color: #505DA8;
    color: #FFFFFF;
}

.bg-side {
    background-color: #3C4996;
}

.fs-side {
    font-size: small;
}

.radious {
    border-radius: 15px;
}

.main-vh {
    height: 100%;
    background-color: #F5F6F8;
   
}

.welcome-sizes {
    width: 100px;
}

.edit-profile {
    position:absolute;
}