.edit-title {
    color: white;
    width: 80%;
    margin:auto;
}

.w-row-name {
    margin: auto;
    width: 75%;
    background-color: white;
}

.check-style {
    list-style-type: none;
    
}

.item-spec {
    display: inline-block;
}