.edit-title {
    color: white;
    width: 80%;
    margin:auto;
}

.w-row-name {
    margin: auto;
    width: 80%;
    background-color: white;
}

.check-style {
    list-style-type: none;
    
}

.item-spec {
    display: inline-block;
}

.radious-row {
    border-radius: 0px 0px 15px 15px;
}

@media only screen and (max-width: 1200px) {
    .m-1200-check{
        flex-direction: column;
    }

    .m-1200-pass {
        flex-direction: column;
        .col-6 {
            width: 100%;
        }
        .col-3 {
            width: 100%;
        }
        .col-3 {
            width: 100%;
        }
    }
}