.w-title-message{
    width: 80%;
    margin: auto;
}

.bg-message {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.user-email-b {
    font-weight: bold;
    text-decoration: underline;
}