.w-title-message{
    width: 80%;
    margin-left: 0.5em;
}

.bg-message {
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.user-email-b {
    font-weight: bold;
    text-decoration: underline;
}

.show-message-w {
    width: 80%;
    margin-left: 1em;
    border-radius: 15px;
    color: white;
    background-color: #5274e1;
}

.message-sizes {
    height: 60px;
}

.preview-message {
    min-height: 150px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;

}