.welcome-sizes {
    position: relative;
    width: 100%;
    height: 230px;
}

.welcome-bg {
    background-color: #4263d0;
    border-radius: 15px;
}
.welcome-nobg {
    background-color: #4263d0;
    border-radius: 15px 15px 0 0;
}

.data-sizes {
    border-radius: 10px;
    padding: 5px 8px !important;
    background-color: #718bdd;
    margin-top: 0.5em;
}

.data-abs {
    top: 30px;
}

.profile-sizes {
    min-height: 120px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.profile-preview {
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4263d0;
    border-radius: 15px 15px 0 0;
    line-height: 60px;
    h6{
        margin-left: 0.5em;
        margin-bottom: 0px;
    }
    a {
        margin-right: 0.5em;
    }

}

.edit-icon {
    background-color: #718bdd;
    border-radius: 10px;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
} 


.h6-sizes {
    display: inline-block;
    width: 50%;
}

.v-al-icon {
    vertical-align: 2em;
}

.profile-picture-preview {
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.bold-prev {
    font-weight: bold;
    font-size: medium;
}

.ul-spec {
    list-style-type: none;
    li a {
        text-transform: uppercase;
        color: rgb(189, 189, 189);
        text-decoration: none;
    }
    li a:hover {
        color: black;
    }
}

.icon-color {
    color: #58C1F9;
}

.address-color {
    color: rgb(142, 142, 142);
}

.img-sizes {
    width: 170px;
}

.color-phone {
    color: #58C1F9;
    font-size: large;
}

.phone {
    margin-top: 2em;
    margin-left:2em;
}

.email {
    color: #58C1F9;
    font-size: large;
}

.mb-hr {
    margin-bottom: 0.6em;
}


.ul-message {
    list-style-type: none;
    padding-right: 2rem;
    margin-bottom: 0rem;
}

.message {
    background-color: #738DE5 ;
    border-radius: 5px;
    
}

.bold-p {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 1440px) {

    .img-sizes {
        display: none;
    }
}


@media only screen and (max-width: 1200px) {
    
    
    .m-1200 {
        flex-direction: column;
        width: 100%;
    }

    .m-w-1200 {
        width: 100%;
    }
    .m-1200-bedge {
        width: 100%;
        margin-left: 1em;
        margin-top: 1em;
    }
    .justify-m-1200 {
        justify-content: center;
    }
  }

  @media only screen and (max-width: 780px) {
    .m-display-none {
        display: none;
    }
      
  }

  