.welcome-sizes {
    width: 780px;
    height: 250px;
}

.welcome-bg {
    background-color: #3C4996;
    border-radius: 15px;
}

.data-sizes {
    border-radius: 5px;
    background-color: #58C1F9;
}

.data-abs {
    top: 30px;
}

.profile-sizes {
    height: calc(250px - 60px);
    width: 350px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.profile-title {
    height: 60px;
    width: 350px;
    background-color: #3C4996;
    border-radius: 15px;
    line-height: 60px;

}